.navContainer {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
  border-bottom: 1px solid black;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: absolute;
  left: 0;
}

.linkContainer {
  display: flex;
  align-items: flex-end;
}

.link {
  padding: 0.5rem;
  text-align: center;
}

a {
  color: black;
}

img {
  width: 3rem;
}